<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table id='categories'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Is public</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @categories%>
  </tbody>
</table>

<br>
<div id='new-category'> 
  <%= link_to 'New Category', new_category_path, remote: true %>
</div>

